<!DOCTYPE html>
<html>
<head>
  <title> </title>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Heros</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="DcComics">DC Heros <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="Pokemone">Pokemone Heros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onGet()">Product</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="row">

  <div class="col-4  offset-4">

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let server of servers">{{server.name}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.description}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.price}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.stock}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.discount}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.user_id}}</li>
    <li class="list-group-item" *ngFor="let data of product">{{product.name}}</li>
    <li class="list-group-item" *ngFor="let server of servers">{{server.price}}</li>
    
    <li class="list-group-item">
      <input type="text" class="form-control" [(ngModel)]="inputName" placeholder="productName"> <br>
      <input type="text" class="form-control" [(ngModel)]="description" placeholder="description"> <br>
      <input type="text" class="form-control" [(ngModel)]="price" placeholder="price"> <br>
      <input type="text" class="form-control" [(ngModel)]="stock" placeholder="stock"> <br>
      <input type="text" class="form-control" [(ngModel)]="discount" placeholder="discount"> <br>

      <button class="btn btn-primary" (click)="inputProduct()">Add</button>
    </li><br><br>
    <li class="list-group-item">
      <button class="btn btn-primary" (click)="onSave()">Save Server</button>
      
    </li>
  </ul>
  </div>
  </div>



<router-outlet></router-outlet>
     <!-- <app-pokemone> </app-pokemone>
     <app-dc-comics></app-dc-comics> -->
 
</div>
   
</body>
</html>


